<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BrunnerDX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BrunnerDX.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>15090</value>
            </setting>
            <setting name="Force" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSpring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoOpenCLS2Sim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoOpenCLS2SimPath" serializeAs="String">
                <value>C:\Program Files (x86)\Brunner Elektronik AG\CLS2Sim</value>
            </setting>
            <setting name="DecTrimX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IncTrimX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DecTrimY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IncTrimY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="CenterTrim" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TrimStrengthXY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrimStrengthZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReleaseTrim" serializeAs="String">
                <value>-1</value>
            </setting>
        </BrunnerDX.Properties.Settings>
    </userSettings>
</configuration>