<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logconsole" xsi:type="Console" />
		<target xsi:type="RichTextBox"
			name="logrichtextbox"
			layout="${date} ${message}"
         
			formName="BrunnerDXGui"
			ControlName="consoleLog"
			autoScroll="true"
			maxLines="1000"
     
			allowAccessoryFormCreation="false"
			messageRetention="OnlyMissed"
            
			supportLinks="true"
            
			useDefaultRowColoringRules="true" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logrichtextbox" />
		<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="logconsole" />
	</rules>
</nlog>